[submodule "status_led"]
	path = components/status_led
	url = https://github.com/mdvorak-iot/esp-status-led.git
[submodule "wifi_reconnect"]
	path = components/wifi_reconnect
	url = https://github.com/mdvorak-iot/esp-wifi-reconnect.git
[submodule "double_reset"]
	path = components/double_reset
	url = https://github.com/mdvorak-iot/esp-double-reset.git
	branch = main
[submodule "app_wifi"]
	path = components/app_wifi
	url = https://github.com/mdvorak-iot/esp-app-wifi.git
[submodule "esp-mpu9250"]
	path = libs/esp-mpu9250
	url = https://github.com/mdvorak-iot/esp-mpu9250.git
