[submodule "status_led"]
	path = components/status_led
	url = https://github.com/mdvorak-iot/esp-status-led.git
[submodule "wifi_reconnect"]
	path = components/wifi_reconnect
	url = https://github.com/mdvorak-iot/esp-wifi-reconnect.git
[submodule "double_reset"]
	path = components/double_reset
	url = https://github.com/mdvorak-iot/esp-double-reset.git
	branch = main
[submodule "app_wifi"]
	path = components/app_wifi
	url = https://github.com/mdvorak-iot/esp-app-wifi.git
[submodule "I2Cbus"]
	path = components/I2Cbus
	url = https://github.com/natanaeljr/esp32-I2Cbus.git
[submodule "MPUdriver"]
	path = components/MPUdriver
	url = https://github.com/natanaeljr/esp32-MPU-driver.git
[submodule "esp-idf-lib"]
	path = esp-idf-lib
	url = https://github.com/UncleRus/esp-idf-lib.git
