# Custom partition table
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

# Enable support for power management
CONFIG_PM_ENABLE=y
CONFIG_PM_DFS_INIT_AUTO=y
CONFIG_ESP32_DEFAULT_CPU_FREQ_240=y

# Disable insecure TLS
CONFIG_MBEDTLS_SSL_PROTO_TLS1=n
CONFIG_MBEDTLS_SSL_PROTO_TLS1_1=n

# WiFi provisioning
CONFIG_APP_WIFI_PROV_TYPE_BLE=y
CONFIG_APP_WIFI_PROV_TYPE_SOFT_AP=n

# BLE for provisioning
CONFIG_BT_ENABLED=y
CONFIG_BTDM_CTRL_MODE_BLE_ONLY=y
CONFIG_BTDM_CTRL_MODE_BR_EDR_ONLY=n
CONFIG_BTDM_CTRL_MODE_BTDM=n
CONFIG_BT_NIMBLE_ENABLED=y

# Status LED
CONFIG_STATUS_LED_DEFAULT_ENABLE=y
CONFIG_STATUS_LED_DEFAULT_GPIO=2
CONFIG_STATUS_LED_DEFAULT_ON=1

# Reconfigure timeout
CONFIG_DOUBLE_RESET_DEFAULT_TIMEOUT=5000

# Sensors
CONFIG_MPU9250=y
CONFIG_MPU_AK8963=y
CONFIG_MPU_AK89xx=y
CONFIG_MPU_I2C=y
CONFIG_MPU_CHIP_MODEL="MPU9250"
CONFIG_I2CDEV_NOLOCK=y
