menu "Application config"
    config WEBSOCKET_SERVER_URL
        string "WebSocket server URL"
        default "ws://echo.websocket.org"

    config APP_REPORT_BATCH_SIZE
        int "Report to server every N records"
        default 50
endmenu
